<div class="container">

    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-5">

          <h1>Messages Received</h1>

          <% @current_user.received_messages.each do |m| %>
          <div>
            <%= link_to m.sender.username, message_path(m.sender_id) %> sent you a message <%= time_ago_in_words(m.created_at) %>
          </div>
            <% end %>
      </div>

      <div class="col-md-5">

          <h1>Messages Sent</h1>

          <% @current_user.sent_messages.each do |m| %>
            <% if m.receiver.present? %><%#  TODO: fix seed data so there's always a receiver!!! %>
              <div>
                You sent a message to <%= link_to m.receiver.username, message_path(m.receiver_id) %> <%= time_ago_in_words(m.created_at) %>
              </div>
              <% end %>
            <% end %>
      </div>

      <div class="col-md-1"></div>

    </div> <!-- row -->

</div> <!--container -->
