
<div class="container">

    <div class="row">

      <div class="col-md-2"></div>

      <div class="col-md-8">

        <h1>Message content</h1>

        <%= @message.sender.username %>:
        <br>
        <%= @message.content %>
      </div>


      </div>

      <div class="col-md-2"></div>

    </div> <!-- row -->

</div> <!--container -->
