<div class="container">

    <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-6">

        <div class="card">
        <h1 class="text-center">Users</h1>
        <div class="card-block">

          <% @users.each do |u| %>

          <div class="img-thumbnail row">

            <%= link_to cl_image_tag(u.image, :width=>150, :height=>200, :crop=>'thumb', :gravity=>'face', :secure=>true), user_path(u.id) %>

            <div class="float-right">
              <p>Username: <%= link_to u.username, user_path(u.id) %>
              <% if u.is_admin %>
              (admin)
              <% end %>
              <br />
              <p>Gender: <%= u.gender %></p>

            </div>

          </div>
          <% end %>

        </div>

        </div>

      <div class="col-md-3"></div>

    </div> <!-- row -->

</div> <!--container -->
