<div class="container">

    <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-6">

        <h1>All Users</h1>

          <% @users.each do |u| %>

          <div class="card">

            <%= cl_image_tag(u.image, :width=>150, :height=>200, :crop=>'crop', :gravity=>'face', :secure=>true, class:"img-thumbnail") %>
          
            <div>
              <%= link_to u.username, user_path(u.id) %>
              <% if u.is_admin %>
              (admin)
              <% end %>
              <br />
              <%= link_to u.gender, user_path(u.id) %>
            </div>

          </div>
          <% end %>


        <div class="col-md-3"></div>

    </div> <!-- row -->

</div> <!--container -->
