// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Yesteryear');



body.pages.welcome, body.pages.about {
  background-image: image-url('heart_tree.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  // font-family: 'Yesteryear', cursive !important;
  // font-size: 30px;
}

#about_us, #welcome {
  font-family: 'Ubuntu', sans-serif;
}

#about_us {
  font-size: 20px;
}

#welcome {
  font-size: 50px;
  padding: 40px;
}

body.session.new {
  background-image: image-url('i_am_grateful.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
