// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users.new {
  background-image: image-url('i_am_grateful.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  // font-family: 'Yesteryear', cursive !important;
  // font-size: 30px;
}

#login {
  padding-top: 90px;
}
