// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body.users {
  background-color: #AFD0D6;
  background-image: image-url('beach_water.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.users.new {
  background-image: image-url('i_am_grateful.jpeg');
}

body.users.search {
  background-image: image-url('flowers_rails.jpeg');
}

#login {
  padding-top: 90px;
}
